/* Estilos para mobile */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilos para web */

@media (min-width: 768px) {
  .app-container {
    height: auto;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas: 
      "header header"
      "main aside";
    padding: 64px;
  }

  .header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
  }

  .aside {
    grid-area: aside;
    background-image: url(/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .content-container {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .app-container {
    padding: 128px;
  }
}
